/* RESET */ 

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    text-align: center;
}